<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            table {
                width: 100%;
                text-align: center;
                border: 1px solid black;
                border-collapse: collapse;
            }
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 20px 0;
            }
            button.createUser {
                padding: 10px 20px;
                position: fixed;
                top: 20px;
                right: 20px;
            }
            a {
                text-decoration: none;
                color: deeppink;
            }
        </style>
        <title>Admin - Users</title>
    </head>
    <body>
        <h1>Hello Admin 💖</h1>
        <button class="createUser">
            <a href="users/create">Create User</a>
        </button>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th colspan="2" rowspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0 ; i < data.length ; i++) { %>
                <tr>
                    <td><%= data[i].email %></td>
                    <td><%= data[i].firstName %></td>
                    <td><%= data[i].lastName %></td>
                    <td><%= data[i].phoneNumber %></td>
                    <td><%= data[i].address %></td>
                    <td><%= data[i].gender %></td>

                    <td>
                        <a
                            href="users/edit/id=<%= data[i].id %>"
                            class="btn btn-warning"
                            >edit</a
                        >
                        ||
                        <a
                            href="users/delete/id=<%= data[i].id %>"
                            class="btn btn-danger"
                            >delete</a
                        >
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>
